.button {
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 152px;
  height: auto;
  margin: 0;
  padding: 14px 22px 14px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.button:disabled {
  opacity: 0.6;
  cursor: default;
}

.button--purple-white {
  background-color: var(--color-purple);
  color: var(--color-white);
  border: 1px solid var(--color-purple);

  &:not(:disabled):hover {
    background-color: var(--color-white);
    color: var(--color-purple);
    border: 1px solid var(--color-white);
  }
}

.button--purple-black {
  background-color: var(--color-purple);
  color: var(--color-black);
  border: 1px solid var(--color-purple);

  &:not(:disabled):hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-white);
  }
}

.button--purple-border {
  background-color: var(--color-white);
  color: var(--color-purple);
  border: 1px solid var(--color-purple);

  &:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
  }
}

.button--white-purple {
  background-color: var(--color-white);
  color: var(--color-purple);
  border: 1px solid var(--color-white);

  &:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
    border: 1px solid var(--color-purple);
  }
}

.button--white-black {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-white);

  &:hover {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}
