.mobile-nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  padding: 120px 24px 24px;
  box-sizing: border-box;
  background-color: #1995AD;
  opacity: 0;
  transform: translateY(-40px);
  transition: all 0.5s ease;

  @media (min-width: 1024px) {
    padding-top: 148px;
  }

  @media (min-width: 1440px) {
    display: none;
  }
}

.mobile-nav--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;

  .mobile-nav__cta,
  .mobile-nav__list li {
    opacity: 1!important;
    transform: translateY(0) !important;
  }
}

.mobile-nav__list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0 0 40px;
  text-align: center;
  z-index: 3;
  background-color: #1995AD;
}

.mobile-nav__list li {
  margin-bottom: 20px;
  transform: translateY(-12px);
  opacity: 0;
  transition: all 0.5s ease;

  &:last-child {
    margin-bottom: 0;
  }

  & .sub-menu {
    display: none;
    list-style-type: none;
    margin: 0 0 18px;
    padding: 12px 0 0;

    & li {
      margin-bottom: 10px;
    }

    & a {
      font-size: 16px;
    }
  }
}

.mobile-nav__list li.mobile-nav__active-children {
  & .sub-menu {
    display: block;
  }
}

.mobile-nav__list li:nth-child(1) {
  transition-delay: 0.2s;
}

.mobile-nav__list li:nth-child(2) {
  transition-delay: 0.3s;
}

.mobile-nav__list li:nth-child(3) {
  transition-delay: 0.4s;
}

.mobile-nav__list li:nth-child(4) {
  transition-delay: 0.5s;
}

.mobile-nav__list li:nth-child(5) {
  transition-delay: 0.6s;
}


.mobile-nav__list li a {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.mobile-nav__cta-holder {
  position: relative;
  z-index: 3;
  background-color: #1995AD;
}

.mobile-nav__cta {
  display: flex !important;
  width: 200px !important;
  margin: auto !important;
  column-gap: 10px;
  transform: translateY(-12px)!important;
  opacity: 0!important;
  transition: all 0.5s ease!important;
  transition-delay: 0.7s!important;
}

.mobile-nav__phones {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  padding: 20px 20px 40px;
  box-sizing: border-box;
  text-align: center;

  & a {
    font-size: 22px;
    color: #fff;
    text-decoration: none;

    & span {
      font-size: 18px;
      opacity: 0.8;
    }
  }
}
