.text {
  padding-top: 24px;
  margin: 0;

  @media (min-width: 768px) {
    padding-top: 26px;
  }

  @media (min-width: 1280px) {
    padding-top: 28px;
  }

  @media (min-width: 1920px) {
    padding-top: 32px;
  }

  & p {
    margin: 0 0 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & a {
    color: #1995ad;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
